@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url('../fonts/proxima_nova_light-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_thextrabold';
  src: url('../fonts/proxima_nova_extrabold-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_blblack';
  src: url('../fonts/proxima_nova_black-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Main layout styles */   

body {
  font-family: 'proxima_nova_rgregular', sans-serif; 
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
} 

.container {
  max-width: 1180px;
  margin: auto;
}

h2 {
  font-family: 'proxima_nova_ltlight';
  font-size: 40px;
  font-weight: 300;
}

h3, strong {
  font-family: 'proxima_nova_rgbold';
}

.inline-link {
  font-family: 'proxima_nova_thextrabold';
  font-size: 20px;
  text-decoration: underline;
  color: #41658b;
}

.inline-link:hover {
  opacity: 0.5;
}

.upstairs-block {
  position: fixed;
  bottom: 50px;
  right: 0;
  width: 210px;
  z-index: 3;
}

.upstairs-block__purchase {
  display: block;
  width: 156px;
  height: 39px;
  font-family: 'proxima_nova_rgregular';
  font-size: 18px;
  line-height: 39px;
  text-align: left;
  padding-left: 13px;
  background-image: linear-gradient(to top, #f38a1f 0%, #ffa800 100%);
  background-color: #ffa800;
  color: #ffffff;
  border-radius: 1px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

.upstairs-block__purchase:hover {
  opacity: 0.5;
}

.upstairs-block__button {
  position: absolute;
  top: -4px;
  left: 130px;
  width: 55px;
  height: 55px;
  margin-top: -5px;
  background-color: #efece7;
  border-radius: 50%;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

.upstairs-block__button:hover {
  background-color: #ffa800;
}

.upstairs-block__button::before,
.upstairs-block__button::after {
  position: absolute;
  content: '';
  width: 14px;
  height: 2px;
  background-color: #000000;
}

.upstairs-block__button:hover::before,
.upstairs-block__button:hover::after {
  background-color: #ffffff;
}

.upstairs-block__button::before {
  top: 28px;
  left: 25px;
  transform: rotate(45deg);
}

.upstairs-block__button::after {
  top: 28px;
  left: 16px;
  transform: rotate(-45deg);
}

/* --------------- --------------- Header --------------- --------------- */

.page-header {
  min-height: 800px;
  background-image: url(../images/bg_top.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #171c1f;
  color: #fefefe;
}

.container--page-header {
  position: relative;
  max-width: 1380px;
}

.page-header__menu-hamburger button {
  display: none;
}

.page-header__logo,
.page-header__event-name {
  float: left;
}

.page-header__logo {
  position: relative;
  top: 30px;
  margin-left: 100px;
  margin-right: 82px;
  z-index: 0;
}

.page-header__logo::before {
  position: absolute;
  top: -30px;
  left: -58px;
  content: '';
  width: 140px;
  height: 30px;
  background-color: #d7d7d7;
  transform: skew(-33deg);
  z-index: -3;
}

.page-header__logo::after {
  position: absolute;
  top: 0px;
  left: -35px;
  content: '';
  width: 176px;
  height: 116px;
  background-color: #ffffff;
  transform: skew(30deg);
  z-index: -1;
}

.page-header__logo a {
  position: relative;
  display: block;
  width: 150px;
  height: 75px;
  margin-left: 28px;
  margin-top: 18px;
  background-image: url(../images/logo/logo.png);
  background-repeat: no-repeat; 
  background-size: 120px;
  background-position: 10px 10px;
  color: transparent;
}

.page-header__logo a::before {
  position: absolute;
  top: -18px;
  left: -87px;
  content: '';
  width: 140px;
  height: 30px;
  background-color: transparent;
  box-shadow: 5px 0 15px #999999;
  transform: skew(30deg);
  z-index: -2;
}

.page-header__logo a::after {
  position: absolute;
  top: 40px;
  left: 93px;
  content: '';
  width: 73px;
  height: 58px;
  background-color: #ffffff;
  transform: skew(-35deg);
  z-index: -1;
} 

.page-header__logo span {
  position: relative;
  display: block;
}

.page-header__logo span::before {
  position: absolute;
  top: -18px;
  left: 92px;
  content: '';
  width: 74px;
  height: 58px;
  background-color: #ffffff;
  transform: skew(35deg);
  z-index: -1; 
}

.page-header__event-name {
  position: relative;
  width: 73px;
  font-size: 26px;
  line-height: 1;
  text-align: left;
  margin-top: 36px;
  margin-bottom: 30px;
}

.page-header__event-name strong {
  font-family: 'proxima_nova_thextrabold';
}

.page-header__event-name span {
  display: block;
  margin-top: 2px;
}

.page-header__event-name::before,
.page-header__event-name::after {
  position: absolute;
  content: '';
  width: 58px;
  height: 3px;
  background-color: #fefefe;
}

.page-header__event-name::before {
  top: -6px;
  left: 0;
}

.page-header__event-name::after {
  top: 107px;
  left: 0;
}

.page-header__event-date {
  float: right;
  width: 230px;
  margin-top: 54px;
  margin-right: 87px;
  text-align: left;
}

.event-date__day,
.event-date__month,
.event-date__place {
  display: block;
}

.event-date__day {
  float: left;
  font-family: 'proxima_nova_blblack';
  font-size: 62px;
  margin-right: 15px;
}

.event-date__month,
.event-date__place {
  font-family: 'proxima_nova_ltlight';
  font-weight: 100;
  letter-spacing: 1px;
}

.event-date__month {
  font-size: 36px;
}

.event-date__place {
  font-size: 18px;
  margin-top: -4px;
}

.page-header__rocket {
  clear: both;
  width: 58px;
  height: 106px;
  margin: 0 auto;
  margin-bottom: 62px;
  background-image: url(../images/sprite.png);
  background-position: -263px 0;
}

.page-header__event-header span {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
}

.page-header__event-header span:nth-of-type(1) {
  font-family: 'proxima_nova_ltlight';
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 19px;
  letter-spacing: 1px;
}

.page-header__event-header span:nth-of-type(2) {
  font-family: 'proxima_nova_blblack';
  font-size: 50px;
  margin-bottom: 8px;
  padding-right: 5px;
}

.page-header__event-header span:nth-of-type(3) {
  font-family: 'proxima_nova_ltlight';
  font-size: 36px;
  font-weight: 200;
  margin-bottom: 61px;
  letter-spacing: 2px;
  text-transform: none;
}

.page-header__social-media {
  margin-bottom: 85px;
}

.page-header__social-media p {
  font-size: 13px;
  margin-bottom: 21px;
  color: #ffffff;
}

.page-header__social-media li {
  display: inline-block;
  vertical-align: top;
  margin-right: 17px;
}

.page-header__social-media li:last-child {
  margin-right: 0;
}

.page-header__social-media a {
  display: block;
  width: 69px;
  height: 70px;
  background-image: url(../images/sprite.png);
  color: transparent;
}

.page-header__social-media--vk {
  background-position: -259px -119px;
}

.page-header__social-media--fb {
  background-position: -259px -194px;
}

.page-header__social-media--tw {
  background-position: -259px -349px;
}

.page-header__social-media--ok {
  background-position: -259px -272px;
}

.page-header__social-media--gp {
  background-position: -259px -423px;
}

.page-header__social-media--vk:hover,
.page-header__social-media--fb:hover,
.page-header__social-media--tw:hover,
.page-header__social-media--ok:hover,
.page-header__social-media--gp:hover {
  opacity: 0.5;
}

.page-header__main-menu li {
  display: inline-block;
  vertical-align: top;
  margin-right: 63px;
}

.page-header__main-menu li:last-child {
  margin-right: 0;
}

.page-header__main-menu a {
  display: block;
  height: 30px;
  font-family: 'proxima_nova_rgbold'; 
  text-transform: uppercase;
  color: #fefefe;
  /* transition: all 0.3s ease-in-out; */
}

.page-header__main-menu a:hover {
  color: #ffae55;
}

.page-header__main-menu .main-menu__active {
  border-bottom: 3px solid #fefefe;
}

.page-header__line {
  height: 1px;
  background-color: #a4817b;
}

/* --------------- --------------- Content --------------- --------------- */

/* --------------- Preview --------------- */

.page-content__preview {
  min-height: 623px;
}

.container--page-content__preview {
  width: 860px;
}

/* Убрать после включения статьи */

/* .page-content__preview h2 {
  padding-top: 65px;
  padding-bottom: 22px;
}

.page-content__preview p {
  padding-bottom: 21px;
  line-height: 22px;
  color: #333333;
}  */

/* END - Убрать после включения статьи */

/* Статья */

.preview-article h2 {
  padding-top: 65px;
  padding-bottom: 22px;
}

.preview-article p {
  font-size: 20px;
  line-height: 29px;
  padding-bottom: 21px;
  color: #000000;
}

.preview-article i {
  color: #333333;
  opacity: 0.6; 
}

.preview-article span {
  display: block;
  font-family: 'proxima_nova_ltlight';
  font-size: 40px;
  font-weight: 300;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 34px;
  transform: rotate(90deg);
}

.preview-aside {
  position: relative;
  margin-top: 70px;
  margin-bottom: 95px;
}

.preview-aside::before,
.preview-aside::after {
  position: absolute;
  content: '';
  width: 85px;
  height: 8px;
  background-image: url(../images/sprite.png);
  background-position: -8px -478px;
}

.preview-aside::before {
  left: 387px;
  top: -31px;
}

.preview-aside::after {
  left: 387px;
  top: 201px;
}

.preview-aside p {
  font-size: 15px;
  line-height: 22px;
  padding-bottom: 0;
  color: #333333;
}

.preview-aside p:nth-child(3) {
  padding-top: 22px;
}

.preview-list h3 {
  font-family: 'proxima_nova_rgregular';
  font-size: 20px;
  font-weight: 400;
  padding-top: 27px;
  padding-bottom: 40px;
}

.preview-list ul {
  width: 475px;
  text-align: left;
  margin-left: 227px;
  margin-bottom: 95px;
}

.preview-list li {
  position: relative;
  margin-bottom: 83px;
}

.preview-list li:last-child {
  margin-bottom: 0;
}

.preview-list li::before {
  position: absolute;
  top: -15px;
  left: -80px;
  content: '';
  width: 74px;
  height: 67px;
  background-image: url(../images/sprite.png);
  background-position: -392px -424px;
}

/* END - Статья */

/* Убрать после включения статьи */

/* .event-countdown {
  position: relative;
  width: 393px;
  margin: 0 auto;
  margin-top: 40px;
}  */

/* END - Убрать после включения статьи */

.event-countdown {
  position: relative;
  width: 393px;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 171px; 
} 

.event-countdown::before {
  position: absolute;
  top: -8px;
  left: 80px;
  content: '';
  width: 224px;
  height: 39px;
  background-color: #00a651;
  transform: skew(-30deg);
}

.event-countdown::after {
  position: absolute;
  top: 5px;
  left: -13px;
  content: '';
  width: 393px;
  height: 110px;
  background-color: #fea404;
  transform: skew(-33deg);
  z-index: -1;
}

.event-countdown p {
  position: relative;
  color: #ffffff;
}

/* Убрать после включения статьи */

/* .event-countdown p:first-child {
  font-size: 14px;
  padding-top: 1px;
  padding-right: 9px;
  padding-bottom: 31px;
}  */

/* END - Убрать после включения статьи */

.event-countdown p:first-child {
  font-size: 14px;
  padding-top: 3px;
  padding-right: 9px;
  padding-bottom: 18px;
} 

.event-countdown__item {
  position: relative;
  float: left;
  /* display: block; */
  font-family: 'proxima_nova_blblack';
  font-size: 44px;
}

/* Убрать после включения статьи */

/* .event-countdown__item::before {
  position: absolute;
  top: 29px;
  left: 7px;
  font-family: 'proxima_nova_rgregular';
  font-size: 14px;
}  */

/* END - Убрать после включения статьи */

.event-countdown__item::before {
  position: absolute;
  top: 47px;
  left: 7px;
  font-family: 'proxima_nova_rgregular';
  font-size: 14px;
} 

.event-countdown__item:nth-child(1)::before {
  content: 'дней';
}

.event-countdown__item:nth-child(2)::before {
  content: 'часов';
}

.event-countdown__item:nth-child(3)::before {
  content: 'минут';
}

.event-countdown__item::after {
  position: absolute;
  top: -1px;
  left: 67px;
  content: ':';
  font-family: 'proxima_nova_rgbold'; 
  font-size: 29px;
}

.event-countdown__item:last-child::after {
  display: none; 
}

.event-countdown__item--days {
  margin: 0 59px;
}

.event-countdown__item--hours {
  margin-right: 48px;
}

/* --------------- Participation --------------- */

.page-content__participation {
  background-image: url(../images/bg_middle.jpg);
  background-repeat: no-repeat;
  background-position: center -4px;
  background-color: #171c1f;
  color: #fefefe;
}

.page-content__participation--top {
  position: relative;
  min-height: 580px;
}

.page-content__participation h2 {
  padding-top: 55px;
  padding-bottom: 21px;
  color: #ffffff;
}

.page-content__participation p {
  font-family: 'proxima_nova_ltlight';
  font-size: 20px;
}

.page-content__participation strong {
  font-family: 'proxima_nova_thextrabold';
}

.event-ticket {
  position: relative;
  width: 960px; 
  height: 225px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #efece7;
}

.event-ticket::after {
  position: absolute;
  top: 0;
  right: 302px;
  content: '';
  width: 2px;
  height: 225px;
  background-image: url(../images/ticket-line.png);
  background-position: 0 -5px;
  background-color: #efece7;
}

.event-ticket__purchase,
.event-ticket__price {
  position: relative;
}

.event-ticket__purchase {
  float: left;
  width: 658px;
}

.event-ticket__price {
  float: right;
  width: 302px;
  padding-top: 52px;
  padding-left: 80px;
  text-align: left;
  color: #000000;
}

.event-ticket__price p {
  font-family: 'proxima_nova_rgregular';
  font-size: 18px;
}

.event-ticket__price span {
  display: block;
  font-size: 24px;
  text-decoration: line-through;
  padding-top: 4px;
  color: #a7a5a1;
}

.event-ticket__price em {
  display: block;
  font-family: 'proxima_nova_ltlight';
  font-size: 40px;
  font-style: normal;
  margin-top: -2px;
}

.event-ticket__purchase::before,
.event-ticket__purchase::after,
.event-ticket__price::before,
.event-ticket__price::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../images/bg_middle.jpg);
}

.event-ticket__purchase::before {
  top: -20px;
  left: -20px;
  background-position: -460px -230px;
}

.event-ticket__purchase::after {
  top: 205px;
  left: -20px;
  background-position: -460px -455px;
}

.event-ticket__price::before {
  top: -20px;
  right: -20px;
  background-position: -1420px -230px;
}

.event-ticket__price::after {
  top: 205px;
  right: -20px;
  background-position: -1420px -455px;
}

.event-ticket__purchase a {
  float: left;
  /* display: block; */
  width: 309px;
  height: 59px;
  font-family: 'proxima_nova_thextrabold';
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 74px;
  margin-left: 70px;
  margin-right: 4px; 
  padding-top: 17px;
  padding-left: 4px;
  background-image: linear-gradient(to top, #f38a1f 0%, #ffa800 100%);
  background-color: #ffa800;
  color: #ffffff;
  border-radius: 1px;
}

.event-ticket__purchase a:hover {
  opacity: 0.5;
}

.purchase-bg {
  float: left;
  display: block;
  width: 250px;
  height: 225px;
  background-image: url(../images/sprite.png);
  background-size: 490px;
  background-position: 3px -103px;
}

.event-ticket__sale {
  position: absolute;
  top: 191px;
  right: 65px;
  width: 170px;
  height: 70px;
  z-index: 1;
}

.event-ticket__sale span {
  display: block;
  font-size: 18px;
  line-height: 22px;
}

.event-ticket__sale span:nth-of-type(1) {
  padding-left: 10px;
}

.event-ticket__sale span:nth-of-type(2) {
  padding-right: 28px;
}

.event-ticket__sale span:nth-of-type(3) {
  padding-right: 41px;
}

.event-ticket__sale::before {
  position: absolute;
  top: -12px;
  left: 186px;
  content: '';
  border: 25px solid transparent;
  border-top-width: 38px;
  border-top-color: #efece7;
}

.event-ticket__sale::after {
  position: absolute;
  top: -12px;
  left: -36px;
  content: '';
  width: 240px;
  height: 90px;
  background-image: linear-gradient(to top, #f38a1f 0%, #ffa800 100%);
  background-color: #ffa800;
  transform: skew(-33deg);
  z-index: -1;
}

.event-ticket__sale p::after {
  position: absolute;
  top: 34px;
  left: -79px;
  content: '';
  width: 56px;
  height: 44px;
  background-image: linear-gradient(to bottom, #a19f9c 0%, #d9d7d3 30%);
  background-color: #d9d7d3;
  transform: skew(33deg);
  z-index: -2;
}

/* --------------- Schedule --------------- */

.page-content__schedule {
  min-height: 961px;
}

.container--schedule {
  position: relative;
  display: table;
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
}

.page-content__schedule h2 {
  position: relative;
  padding-top: 44px;
  padding-bottom: 49px;
}

.schedule__row:nth-child(odd) {
  background-color: #efece7;
}

.page-content__schedule h2::after,
.page-content__partners h2::before {
  position: absolute;
  content: '';
  width: 85px;
  height: 8px;
  background-image: url(../images/sprite.png);
  background-position: -8px -478px;
}

.page-content__schedule h2::after {
  top: 113px;
  left: 546px;
}

.schedule__column {
  display: table-cell;
  vertical-align: middle;
}

.schedule__column h3,
.schedule__column--left strong {
  font-family: 'proxima_nova_thextrabold';
  font-size: 20px;
}

.schedule__column h3 {
  margin-top: 19px;
  margin-bottom: 2px;
}

.schedule__column p {
  width: 330px;
  font-size: 14px;
  line-height: 18px;
}

.schedule__column--photo, 
.schedule__column img {
  display: block;
  width: 98px;
  height: 98px;
  margin: 31px 0;
}

.schedule__column--left {
  text-align: left;
}

.schedule__column--photo {
  background-image: url(../images/sprite.png);
}

.schedule__column--photo-male {
  background-position: -334px -113px;
}

.schedule__column--photo-female {
  background-position: -334px -7px;
}

.schedule__column--action {
  padding: 28px 0;
}

.schedule__column--center {
  width: 612px;
  text-align: left;
  vertical-align: top;
  padding: 31px 0;
}

.schedule__column--center em {
  font-size: 13px;
}

.schedule__column--right {
  text-align: right;
}

.schedule__column--right p {
  width: auto;
  font-size: 18px;
}

/* --------------- Partners --------------- */

.page-content__partners {
  min-height: 420px;
}

.page-content__partners h2 {
  position: relative;
  padding-top: 82px;
  padding-bottom: 43px;
}

.page-content__partners h2::before {
  top: 30px;
  left: 547px;
}

.page-content__partners h2:last-of-type {
  font-size: 15px;
  padding-top: 60px;
  padding-bottom: 22px;
}

.page-content__partners h2:last-of-type::before {
  display: none;
}

.page-content__partners ul {
  display: none;
}

.page-content__partners li {
  display: inline-block;
  vertical-align: top;
}

.partners--small {
  display: none;
}

.page-content__partners-offer {
  margin-top: 66px;
}

.page-content__partners-offer strong {
  font-family: 'proxima_nova_thextrabold';
  font-size: 20px;
}

.page-content__partners-offer strong:last-child {
  display: block;
  margin-bottom: 74px;
}

.page-content__partners-offer p {
  padding-top: 10px;
  padding-bottom: 8px;
}

/* --------------- Participation --------------- */

.page-content__participation--bottom {
  min-height: 430px;
  padding-top: 46px;
  background-position: center -155px;
}

.page-content__participation--bottom h2,
.page-content__participation--bottom p:first-of-type {
  display: none;
}

.event-ticket p:first-of-type {
  display: block;
}

/* --------------- Address --------------- */

.page-content__address {
  min-height: 620px;
}

.page-content__address h2 {
  padding-top: 63px;
  padding-bottom: 21px;
}

.page-content__address strong {
  font-family: 'proxima_nova_thextrabold';
  font-size: 20px;
}

.page-content__address p {
  padding-top: 10px;
}

.event-map {
  margin-top: 36px;
  height: 400px;
  background-image: url(../images/map.jpg);
  background-repeat: no-repeat; 
  background-position: center -179px;
}

/* --------------- --------------- Footer --------------- --------------- */

.page-footer {
  min-height: 206px;
}

.page-footer a {
  display: block;
  margin-bottom: 6px;
}

.page-footer__contact-block {
  display: inline-block;
  vertical-align: top;
  width: 296px;
  margin-top: 53px;
}

.page-footer__contact-block--email p,
.page-footer__contact-block--skype p,
.page-footer__contact-block--phone p {
  margin-bottom: 9px;
}

.page-footer__contact-block--phone strong {
  display: block;
  /* font-family: 'proxima_nova_blblack'; */
  font-family: 'proxima_nova_thextrabold';
  font-size: 20px;
  margin-bottom: 10px;
}

.page-footer__contact-block--phone a {
  color: #000000;
}