/* Main layout styles */

@font-face {
  font-family: "Proxima Nova Light";
  font-style: normal;
  font-weight: 300;
  src: local("Proxima Nova Light"),
       url(../fonts/Proxima Nova Light.otf) format("otf");
}

@font-face {
  font-family: "Proxima Nova Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Proxima Nova Regular"),
       url(../fonts/Proxima Nova Regular.otf) format("otf");
}

@font-face {
  font-family: "Proxima Nova Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Proxima Nova Bold"),
       url(../fonts/Proxima Nova Bold.otf) format("otf");
}

@font-face {
  font-family: "Proxima Nova Extrabold";
  font-style: normal;
  font-weight: 800;
  src: local("Proxima Nova Extrabold"),
       url(../fonts/Proxima Nova Extrabold.otf) format("otf");
}

@font-face {
  font-family: "Proxima Nova Black";
  font-style: normal;
  font-weight: 900;
  src: local("Proxima Nova Black"),
       url(../fonts/Proxima Nova Black.otf) format("otf");
}

/*

h1 {
  font-size: 30px;
}

h2, h3 {
  font-size: 24px;
}

p {
  line-height: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.inline-link {
  text-decoration: underline;
}

button,
input[type="submit"] {
  border: none;
  font-family: "PT Sans Narrow Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

input:focus,
button:focus {
  outline: none;
}

.button {
  display: block;
  width: 140px;
  height: 43px;
  text-align: center;
  line-height: 43px;
  border-left: 1px solid #100f0f;
  border-right: 1px solid #100f0f;
  background-color: #000000;
}

.button:hover {
  border-left: 1px solid #6f4923;
  border-right: 1px solid #6f4923;
  background-color: #663d15;
} */

body {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 15px;
  /* font-weight: 400; */
  line-height: 22px;
  background-color: #ffffff;
  color: #333333;
} 

.container {
  width: 1180px;
  margin: auto;
}


/* --------------- --------------- Header --------------- --------------- */

.page-header {
  height: 800px;
  background-image: url(../images/bg_top.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

/* --------------- --------------- Content --------------- --------------- */

/* --------------- Preview --------------- */

.page-content__preview {
  height: 623px;
}

/* --------------- Participation --------------- */

.page-content__participation {
  background-image: url(../images/bg_middle.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.page-content__participation--top {
  height: 580px;
}

/* --------------- Schedule --------------- */

.page-content__schedule {
  height: 961px;
}

/* --------------- Partners --------------- */

.page-content__partners {
  height: 420px;
}

/* --------------- Participation --------------- */

.page-content__participation--bottom {
  height: 430px;
}

/* --------------- Address --------------- */

.page-content__address {
  height: 620px;
}

/* --------------- --------------- Footer --------------- --------------- */

.page-content__footer {
  height: 206px;
}