/* Diffrent display layout styles */

@media screen and (max-width: 1179px) {

  .container {
    /* max-width: 940px; */
    width: 940px;
  }

  /* ---------------  Header --------------- */

  .page-header__logo {
    margin-left: 0;
    margin-right: 67px;
  }

  .page-header__logo a {
    margin-left: 0;
    background-position: -3px 10px;
  }

  .page-header__logo::before {
    display: none;
  }

  .page-header__logo::after {
    left: -43px;
    width: 166px;
    transform: none;
  }

  .page-header__logo a::before {
    display: none;
  }

  .page-header__logo a::after {
    left: 79px;
  }

  .page-header__logo span::before {
    left: 78px;
  }

  .page-header__event-date {
    margin-right: -3px;
  }

  .page-header__main-menu li {
    margin-right: 37px;
  }

  /* -------------  Main content  ------------- */

  /* --------------- Participation --------------- */

  .container--page-content__participation {
    width: 960px;
  }

    /* Если сделать для ширины 1017px, а не для 1000px, то стили ниже можно убрать и не менять ширину билета
  (при этом добавить класс .container--page-content__participation с шириной 960px = начальной ширине билета) */

/*   .event-ticket {
  width: 940px;
}

.event-ticket__purchase {
  width: 648px;
}

.event-ticket__price {
  width: 292px;
} */

  /* --------------- Schedule --------------- */
  /* --------------- Partners --------------- */

  .page-content__schedule h2::after,
  .page-content__partners h2::before {
    left: 427px;
  }

  /* --------------- Footer --------------- */

  .page-footer__contact-block--email {
    margin-left: 20px;
  }
}


@media screen and (max-width: 749px) {

  .container {
    /* position: static; */ 
    /* max-width: 360px;
    min-width: 360px; */
    /* width: 360px; */
  }

  /* ---------------  Header --------------- */



  /* -------------  Main content  ------------- */



  /* --------------- Footer --------------- */

  
}